@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');
:root {
    /* primary */
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
    /* acient */
  --Blue: hsl(248, 32%, 49%);
    /* neutral */
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}
* {
    box-sizing: border-box;
}
body {
    background-image: url('../images/bg-intro-desktop.png');
    background-color: var(--Red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 25px;
    min-height: 100vh;
    margin: 0 auto;
}
.container > div {
    flex: 1;
    padding: 0 20px;
}
.left-title {
    font-size: 40px;
    line-height: 50px;
}
.left-text {
    opacity: 0.8;
}
.box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
   
}
.box-blue {
    background-color: var(--Blue);
    padding: 15px;
}
.box-blue h1 {
    font-size: 16px;
    font-weight: 700;
}
.box-blue span {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.box p {
    margin: 0;
    text-align: center  ;
}
input:first-child {
    margin-top: 15px;
}
input {
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 25px;
    display: block;
    border: 1px solid var(--GrayishBlue);
    width: 100%;
    margin-bottom: 25px;
}
input:active {
    border: 1px solid var(--Blue);
}
button {
    background-color: var(--Green);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 25px;
    display: block;
    border: 1px solid hsl(154, 59%, 40%);;
    border-bottom-width: 3px;
    width: 100%;
    color: #fff;

}
small p {
    padding-top: 15px;
    color: var(--GrayishBlue);
}